* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug .container {
    height: 800px;
}

.debug .Dx {
    background-color: crimson;
}

.debug #Sx {
    background-color: palevioletred;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

#Dx {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 150px;
}

#Sx {
    width: 500px;
    height: 300px;
}

.arrUp {
    border-radius: 50%;
    background-color: #cccccc;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    position: relative;
    bottom: 125px;
    left: 250px;
}

.arrDw {
    border-radius: 50%;
    background-color: #cccccc;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    position: relative;
    top: 242px;
    left: 250px;
}

.fas {
    margin-left: 3px;
    font-size: 21px;
    color: black;
    margin-top: 1px;
}

.bot {
    position: relative;
    bottom: 32%;
    left: 5px;
    z-index: 1;
    color: white;
}

.sub {
    position: relative;
    bottom: 30%;
    left: 5px;
    font-size: small;
    z-index: 1;
    color: white;
}

.Imagine {
    object-fit: cover;
    width: 100%;
    height: 417px;
}

.button {
    position: absolute;
}