* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug .container {
    height: 800px;
}

.debug .Dx {
    background-color: crimson;
}

.debug #Sx {
    background-color: palevioletred;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Dx {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 150px;
}

#Sx {
    width: 500px;
    height: 300px;
}

.arrUp, .arrDw {
    border-radius: 50%;
    background-color: #cccccc;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
}

.fas {
    font-size: 20px;
    color: black;
}